# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.png
*.jpg
*.jpeg
*.gif
*.ico
*.svg
*.webp
*.mp4
*.webm
*.mp3

package-lock.json
yarn.lock
pnpm-lock.yaml

README.md

Test.jsx
OurProducts.jsx
MissionVision.jsx
LoadingScreen.jsx
Landing.jsx
InterCrops.jsx
Header_new.jsx