@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.app-container {
  display: flex;
  height: 100vh;
  /* Ensure full height for the layout */
}

.sidebar {
  width: 280px;
  /* Sidebar width */
  flex-shrink: 0;
  /* Prevent sidebar from shrinking */
}

.content {
  flex: 1;
  /* Take up remaining space */
  padding: 0px;
  /* Optional padding for content */
  overflow-y: auto;
  /* Allow scrolling if content overflows */
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
